
  <footer class="d-flex flex-column py-3 border-top bg-dark px-4 mb-0 mt-auto">
    <div class="mx-auto mt-3">
      <p class="text-light">Friends of Lake Grove Concert Series:</p>
    </div>
    
    <div class="d-flex flex-wrap justify-content-center gap-5 pb-5 ">
      <a href="https://www.alignedartistry.com" target="_blank"><img src="/photos/aligned_artistry_logo.png" height="56" alt=""></a>
      <a href="https://www.orsymphony.org" target="_blank"><img src="/photos/symphony_logo.png" height="56" alt="" class="bg-light"></a>
      <a href="https://www.worldvision.org" target="_blank"><img src="/photos/worldvision-logo.gif" height="56" alt=""></a>
      <a href="https://agros.org" target="_blank"><img src="/photos/agros_logo.png" height="56" alt=""></a>
      <a href="https://portlandrescuemission.org" target="_blank"><img src="/photos/rescue_mission_logo.jpg.webp" height="56" alt=""></a>
    </div>

<div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
    <p class="col-md-4 mb-0 text-light order-1">&copy; 2024 Lake Grove Concert Series</p>

    <ul class="nav col-md-4 justify-content-end order-2">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-light">About</a></li>
      <li class="nav-item"><a href="/concerts/upcoming" class="nav-link px-2 text-light">Concerts</a></li>
      <li class="nav-item"><a href="/involved/donate" class="nav-link px-2 text-light">Donate</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link px-2 text-light">Contact</a></li>
    </ul>
  </div>
  </footer>
