<% for (let item of concertData.past) { %>

<div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1"><%= item.title %></h2>
         <% for (let date of item.dates) { %>
        <h4><%= date %></h4>
        <% } %>
        <p class="lead text-body-secondary"><%= item.description %></p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="<%= item.photo %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <% } %>