<% layout('layouts/boilerplate') %>

 <div class="p-4 p-md-5 mb-4 rounded text-black bg-primary">
  <div class="col-lg-6 px-0">
    <h1 class="display-4">About Our Series</h1>
    <p class="lead my-3">Lake Grove Concert Series was founded 10 years ago with the goal of opening our doors wide to the community to share world class music with all. We aim to be a family-friendly series that provides a peaceful and easily accessible concert experience in the heart of Lake Oswego.</p>
  </div>
</div>

<div class="container">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="fw-normal lh-1">Uplifting Music</h2>
    <p class="lead">Grand orchestral music with 100-voice choir. Intricate baroque melodies on the pipe organ. A bell choir ringing joyful holiday songs. Taylor Swift. All of these moments have been heard by audiences during Lake Grove concerts! Throughout the season we aim to offer a variety of programs that will be sure to please every concert-goer. Concerts are always 1-hour in length so are perfect for the whole family. We are fortunate to have some very talented friends, and our programs frequently feature world-class soloists from near and far, as well as members of the Oregon Symphony. You can be assured that everything you hear at a Lake Grove concert will be engaing and steeped in excellence.</p>
  </div>
  <div class="col-md-5">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/conductor.png" role="img" focusable="false">
  </div>
</div>
</div>

<div class="p-4 p-md-5 mb-5 mt-5 rounded text-body-emphasis bg-secondary">
  <div class="px-5 text-center">
    <h3 class="display-4">"Here's a fancy quote from someone about how amazing the series is and everyone should come to all of our concerts."</h3>
    <p class="lead my-3">- Nice Person</p>
  </div>
</div>

<div class="container mb-5">
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Beautiful Space</h2>
    <p class="lead">Our concerts are hosted by Lake Grove Presbyterian Church in the peaceful Sanctuary. This room, remodelled in 2008, features beautiful wooden walls that are curved for ideal acoustics, bringing the music right to the listener. The sparkling pipes of our excellent organ are a focal point of the space, along with the vibrant colors of our stained glass windows. Lake Grove is right off the highway with ample parking, making a trip to one of our concerts an easy choice.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/audience.png" role="img" focusable="false">
  </div>
</div>
</div>


<div class="p-4 p-md-5 mb-5 mt-5 rounded text-dark bg-secondary">
  <div class="px-5 text-center">
    <h3 class="display-4">“As a pastor, I love it when the doors are open to people from across the community. It seems like the concert creates a safe space for people to come in, break down the barriers and discover the church as a place for beauty and welcome.”</h3>
    <p class="lead my-3">- Graig Flach</p>
  </div>
</div>

<div class="container mb-5">
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Outward Focused</h2>
    <p class="lead">One of the founding principles of our series is that we want our programs to always be <strong>FREE</strong> and open to all. When we do occasionally 'pass the plate', it is to support causes that we care about locally and around the world. Thanks to the generosity of past audence members, we have supported children in need in local schools, donated to local rescue missions in Portland, built school buildings in Zambia and Senegal, and [fill in something else?] To date, we have raised over $_______ for these causes. Thank you for your generous support!</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/graig.jpeg" role="img" focusable="false">
  </div>
</div>
</div>



</div>







<!-- THIS IS THE OLD ABOUT PAGE FOR REFERENCE -->
 
  <!-- <div class=" text-center p-4 bg-secondary">
    <h1 class="fw-light">About Lake Grove Concert Series</h1>
    <h5>We are a community-based, family-friendly series open to all that provides a peaceful and easily accessible concert experience in the heart of Lake Oswego!</h5>
  </div>
        
  <div class="container">

    <div class="row py-3">
      <div class="col-md-7">
        <h5 class=" text-body-secondary">The Lake Grove Concert Series is Lake Oswego’s regional hub for world-class music, presenting the area’s finest talent performing uplifting music in a beautiful and welcoming space.</h5>
      </div>
      <div class="col-md-5">
        <img class="img-fluid mx-auto" width="500" height="500" src="/photos/conductor.png" role="img" aria-label="music" focusable="false">
      </div>
    </div>
    
    <hr>

    <div class="row py-3">
      <div class="col-md-7 order-md-2">
        <p class="lead text-body-secondary">LGCS concerts are free and easy to attend given their single hour length, and ample on-site parking. Based at the Lake Grove Presbyterian Church, a stunning location that features a grand yet warm wooden structure filled with multi-colored and modern stained glass art, the main hall hits an acoustic sweet spot and feels simultaneously majestic and intimate.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-fluid mx-auto" width="500" height="500" src="photos/audience.png" role="img" aria-label="robes" focusable="false">
      </div>
    </div>

    <hr>

    <div class="row py-3">
      <div class="col-md-7">
        <p class="lead text-body-secondary">With close connections to members of the Oregon Symphony, the series' Directors program a wide cross-section of cohesive and thematic programs. Performers offer engaging context for the selections and mingle with attendees during post-performance receptions..</p>
      </div>
      <div class="col-md-5">
        <img class="img-fluid mx-auto" width="500" height="500" src="photos/Illuminare3.png" role="img" aria-label="conductor" >
      </div>
    </div>

    <hr>

    <div class="row py-3">
      <div class="col-md-7 order-md-2">
        <p class="lead text-body-secondary">Musicians based at the church founded the series in order to open the building’s doors to the entire community, sharing both the awe-inspiring space and the rich cadre of musical talent to which they are connected. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-fluid mx-auto" width="500" height="500" src="photos/choir and window.png" role="img" aria-label="seating" focusable="false">

      </div>
    </div>
  </div> 
  </div>
</div>

   -->
