<% layout('layouts/boilerplate') %>

 <div class="p-5 p-md-5 mb-5 rounded text-black bg-primary section-shape-right ">
  <div class="container text-center ">
    <h2 class="mb-5 py-5 text-body">Experience world-class live music with the Lake Grove Concert Series, founded in 2014 by Wendy Bamonte and Jeff Wood. Nestled in the heart of Lake Oswego, our series invites you to enjoy performances in a serene, family-friendly setting within the beautiful sanctuary of Lake Grove Church. With on-site parking under a peaceful evergreen canopy, our concerts are easily accessible and always free — creating a space where music and community come together in harmony. </h2>
  </div>
</div>

<div class="container mt-5">
<div class="row" data-aos="fade-up" data-aos-duration="2000">
  <div class="col-md-7">
    <h2 class="fw-normal lh-1">Uplifting Music</h2>
    <p class="lead text-body-secondary">From grand orchestral works with a 100-voice choir to the intricate beauty of baroque melodies on our stunning pipe organ, the Lake Grove Concert Series brings audiences unforgettable musical moments. Whether it's the joyful ringing of a holiday bell choir or a renowned soloist delivering a captivating rendition of a familiar Taylor Swift hit, our season offers something for everyone. Each concert is thoughtfully curated to provide a diverse, enriching experience in just one hour — perfect for fitting into your busy schedule and ideal for the whole family. We have some very talented friends, and our programs frequently feature world-class soloists from near and far, as well as members of the Oregon Symphony. You can be assured that everything you hear at a Lake Grove concert will be uplifting and steeped in excellence.</p>
  </div>
  <div class="col-md-5">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/conductor.png" role="img" focusable="false" alt="front view of conductor with stained glass windows in background">
  </div>
</div>
</div>

<div class="p-5 p-md-5 mb-5 mt-5 rounded text-body-emphasis bg-secondary section-shape-left" data-aos="fade-up" data-aos-duration="2000">
  <div class="p-5 text-center">
    <h3 class="display-6 fst-italic">"I want to express my heartfelt gratitude for your performance of Illuminare and the Oregon premiere! I'm thankful for your role in sharing these messages of Peace and Light!"</h3>
    <p class="lead my-3">- Elaine Hagenberg, Composer</p>
  </div>
</div>

<div class="container mb-5">
<div class="row" data-aos="fade-up" data-aos-duration="2000">
  <div class="col-md-7 order-md-2">
    <h2 class="fw-normal lh-1">Beautiful Space</h2>
    <p class="lead text-body-secondary">Our concerts are held in the peaceful sanctuary of <a href="https://maps.app.goo.gl/n3zbaM4c1w8Rrtft9" target="_blank">Lake Grove Presbyterian Church</a> , a space designed to immerse you in an exceptional acoustic experience. Remodeled in 2008, the sanctuary’s elegantly curved wooden walls create perfect sound resonance, bringing the music straight to your ears. The stunning organ, with its sparkling pipes, serves as a centerpiece, complemented by the vibrant hues of stained glass windows that add to the room's warmth and beauty. Conveniently located just off the highway with ample parking, attending one of our concerts is not only enriching but also effortless.</p>
    
  </div>
  <div class="col-md-5 order-md-1">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/audience.png" role="img" focusable="false" alt="a wide view of a full audience from behind an organ console">
  </div>
</div>
</div>


<div class="p-4 p-md-5 mb-5 mt-5 rounded text-dark bg-secondary section-shape-right" data-aos="fade-up" data-aos-duration="2000">
  <div class="px-5 text-center">
    <h3 class="display-8 py-5 fst-italic">“As a pastor, I love it when the doors are open to people from across the community. It seems like the concert creates a safe space for people to come in, break down the barriers and discover the church as a place for beauty and welcome.”</h3>
    <p class="lead my-3 pb-5">- Graig Flach, Pastor</p>
  </div>
</div>

<div class="container mb-5">
<div class="row" data-aos="fade-up" data-aos-duration="2000">
  <div class="col-md-7 order-md-2">
    <h2 class=" fw-normal lh-1">Outward Focused</h2>
    <p class="lead text-body-secondary">One of the founding principles of our series is that we want our programs to always be <strong>FREE</strong> and open to all. When we do occasionally 'pass the plate', it is to support Lake Grove Presbyterian Church's mission partners both locally and around the world. Thanks to the generosity of past audience members, we have supported children in need in local schools, donated to local rescue missions in Portland, built school buildings in Senegal, and drilled wells in Zambia. To date, we have raised over $140,000 for these causes. Thank you for your generous support!</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/graig.jpeg" role="img" focusable="false" alt="Pastor Graig Flach speaking into a microphone wearing a Zambian shirt">
  </div>
</div>
</div>

<div class="p-5 p-md-5 mb-5 mt-5 rounded text-body-emphasis bg-secondary section-shape-left" data-aos="fade-up" data-aos-duration="2000">
  <div class="p-5 text-center">
    <h3 class="display-6 fst-italic">"[Lake Grove Concert Series] chooses artistically challenging yet fulfilling pieces, and curates concerts that are emotional and uplifting events...I have been thrilled to be a part of some of these concerts!"</h3>
    <p class="lead my-3">- Alicia DiDonato Paulsen, Assistant Principal Flute, Oregon Symphony</p>
  </div>
</div>

<div class="container mb-5">
  <div class="row" data-aos="fade-up" data-aos-duration="2000">
    <div class="col-md-7 ">
      <h2 class="fw-normal lh-1">Concert Series Co-Founders</h2>
      <p class="lead text-body-secondary">Wendy Bamonte and Jeff Wood started our series 10 years ago with a shared vision of opening this beautiful sanctuary to the community and making excellent music accessible to all. Lake Grove has a strong tradition of excellent performances in this space, and Wendy has fostered relationships with world-class soloists and members of the Oregon Symphony. We want everyone to enjoy the music we create at Lake Grove, whether it be during a concert or on a Sunday morning.</p>
    </div>
    <div class="col-md-5 mb-5">
      <img class="img-fluid mx-auto" width="500" height="500" src="./photos/jeff+wendy.png" role="img" focusable="false" alt="Wendy Bamonte and Jeff Wood in a hallway preparing for the performance">
    </div>
    <div class="col-md-7 py-5 " data-aos="fade-up" data-aos-duration="2000">
      <h2 class="fw-normal lh-1">Wendy Bamonte</h2>
      <p class="lead text-body-secondary">Conductor Wendy Bamonte inspires singers and audiences alike with her dynamic style and purposeful programming. Her multifaceted musicianship brings an uncommon expansiveness and depth to her work on the podium, while her enterprising spirit creates meaningful impact through music. She holds a Masters Degree in Music Education (conducting) from Portland State University and a Master of Music Degree (flute performance) from Boston University. As a flutist, Wendy maintains an active schedule, performing with many orchestras in the Northwest and has held positions in the Portland Chamber Orchestra and Eugene Symphony. Before settling in Portland, she spent a year touring the country with the Broadway National Tour of Les Miserables. Wendy also conducts the Lake Grove Presbyterian Church Sanctuary Choir and was co-artistic leader for Portland Symphonic Choir. Presently, Wendy makes her home in Southwest Portland with her husband Dave, a member of the Oregon Symphony, and their 17 year old daughter, Emily.</p>
    </div>
    <div class="col-md-5 px-5 py-5" data-aos="fade-up" data-aos-duration="2000">
      <img class="img-fluid mx-auto" width="350" height="350" src="/photos/wendy.jpg" role="img" focusable="false" alt="Wendy Bamonte headshot">
    </div>
    <div class="col-md-7" data-aos="fade-up" data-aos-duration="2000">
      <h2 class="fw-normal lh-1">Jeff Wood</h2>
      <p class="lead text-body-secondary">Jeff Wood joined the music team at Lake Grove Presbyterian Church in September 2013, where he serves as Assitant Director of Music. Since moving to the Northwest, he has been a featured soloist and choral accompanist at various venues around the Portland area, in addition to performances with the Oregon Symphony on organ, harpsichord, and piano. He holds performance degrees from the College of the Holy Cross and Oberlin Conservatory. Jeff lives in Tigard with his wife, Jessica, and daughter, Josephine.</p>
    </div>
    <div class="col-md-5 px-5" data-aos="fade-up" data-aos-duration="2000">
      <img class="img-fluid mx-auto" width="350" height="350" src="/photos/jeff.jpg" role="img" focusable="false" alt="Jeff Wood headshot">
    </div>
  </div>
  </div>
</div>

