<% layout('layouts/boilerplate') %>

 <div class="p-5 p-md-5 mb-5 rounded text-black bg-primary section-shape-right ">
  <div class="container text-center col-lg-6 px-0">
    <h1 class="display-4 text-light">About Our Series</h1>
    <p class="lead mb-5 text-dark">Wendy Bamonte and Jeff Wood founded Lake Grove Concert Series 10 years ago with the goal of opening the church's doors wide to the community to share world class music with all. We are a family-friendly series that provides a peaceful and easily accessible concert experience in the heart of Lake Oswego.</p>
  </div>
</div>

<div class="container mt-5">
<div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
  <div class="col-md-7">
    <h2 class="fw-normal lh-1">Uplifting Music</h2>
    <p class="lead text-body-secondary">Grand orchestral music with 100-voice choir. Intricate baroque melodies on the pipe organ. A bell choir ringing joyful holiday songs. A soloist belting out a familiar song by Taylor Swift. All of these moments have been heard by audiences during Lake Grove concerts! Throughout the season we aim to offer a variety of programs that will be sure to please every concert-goer. Concerts are always 1-hour in length so are perfect for the whole family. We are fortunate to have some very talented friends, and our programs frequently feature world-class soloists from near and far, as well as members of the Oregon Symphony. You can be assured that everything you hear at a Lake Grove concert will be engaging and steeped in excellence.</p>
  </div>
  <div class="col-md-5">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/conductor.png" role="img" focusable="false">
  </div>
</div>
</div>

<div class="p-5 p-md-5 mb-5 mt-5 rounded text-body-emphasis bg-secondary section-shape-left" data-aos="fade-up" data-aos-duration="2000">
  <div class="p-5 text-center">
    <h3 class="display-6">"I want to express my heartfelt gratitude for your performance of Illuminare and the Oregon premiere! I'm thankful for your role in sharing these messages of Peace and Light!"</h3>
    <p class="lead my-3">- Elaine Hagenberg, Composer</p>
  </div>
</div>

<div class="container mb-5">
<div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Beautiful Space</h2>
    <p class="lead text-body-secondary">Our concerts are hosted by <a href="https://maps.app.goo.gl/n3zbaM4c1w8Rrtft9" target="_blank">Lake Grove Presbyterian Church</a> in the peaceful Sanctuary. This room, remodeled in 2008, features beautiful wooden walls that are curved for ideal acoustics, bringing the music right to the listener. The sparkling pipes of our excellent organ are a focal point of the space, along with the vibrant colors of our stained glass windows. Lake Grove is right off the highway with ample parking, making a trip to one of our concerts an easy choice.</p>
    
  </div>
  <div class="col-md-5 order-md-1">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/audience.png" role="img" focusable="false">
  </div>
</div>
</div>


<div class="p-4 p-md-5 mb-5 mt-5 rounded text-dark bg-secondary section-shape-right" data-aos="fade-up" data-aos-duration="2000">
  <div class="px-5 text-center">
    <h3 class="display-8 py-5">“As a pastor, I love it when the doors are open to people from across the community. It seems like the concert creates a safe space for people to come in, break down the barriers and discover the church as a place for beauty and welcome.”</h3>
    <p class="lead my-3 pb-5">- Graig Flach, Pastor</p>
  </div>
</div>

<div class="container mb-5">
<div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Outward Focused</h2>
    <p class="lead text-body-secondary">One of the founding principles of our series is that we want our programs to always be <strong>FREE</strong> and open to all. When we do occasionally 'pass the plate', it is to support Lake Grove Presbyterian Church's mission partners both locally and around the world. Thanks to the generosity of past audience members, we have supported children in need in local schools, donated to local rescue missions in Portland, built school buildings in Senegal, and drilled wells in Zambia. To date, we have raised over $140,000 for these causes. Thank you for your generous support!</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="img-fluid mx-auto" width="500" height="500" src="/photos/graig.jpeg" role="img" focusable="false">
  </div>
</div>
</div>

<div class="p-5 p-md-5 mb-5 mt-5 rounded text-body-emphasis bg-secondary section-shape-left" data-aos="fade-up" data-aos-duration="2000">
  <div class="p-5 text-center">
    <h3 class="display-6">"[Lake Grove Concert Series] chooses artistically challenging yet fulfilling pieces, and curates concerts that are emotional and uplifting events...I have been thrilled to be a part of some of these concerts!"</h3>
    <p class="lead my-3">- Alicia DiDonato Paulsen, Assistant Principal Flute, Oregon Symphony</p>
  </div>
</div>

<div class="container mb-5">
  <div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
    <div class="col-md-7 ">
      <h2 class="featurette-heading fw-normal lh-1">Concert Series Co-Founders</h2>
      <p class="lead text-body-secondary">Wendy Bamonte and Jeff Wood started our series 10 years ago with a shared vision of opening this beautiful sanctuary to the community and making excellent music accessible to all. Lake Grove has a strong tradition of excellent performances in this space, and Wendy has fostered relationships with world-class soloists and members of the Oregon Symphony. We want everyone to enjoy the music we create at Lake Grove, whether it be during a concert or on a Sunday morning.</p>
    </div>
    <div class="col-md-5 mb-5">
      <img class="img-fluid mx-auto" width="500" height="500" src="./photos/jeff+wendy.png" role="img" focusable="false">
    </div>
    <div class="col-md-7 py-5 " data-aos="fade-up" data-aos-duration="2000">
      <h2 class="fw-normal lh-1">Wendy Bamonte</h2>
      <p class="lead text-body-secondary">Wendy Bamonte enjoys a varied career in music, both as conductor and instrumentalist. She holds a Masters Degree in Music Education (conducting) from Portland State University and a Master of Music Degree (flute performance) from Boston University. As a flutist, Wendy maintains an active schedule, performing with many orchestras in the Northwest and has held positions in the Portland Chamber Orchestra and Eugene Symphony. Before settling in Portland, she spent a year touring the country with the Broadway National Tour of Les Miserables. Wendy also conducts the Lake Grove Presbyterian Church Sanctuary Choir and was co-artistic leader for Portland Symphonic Choir. Presently, Wendy makes her home in Southwest Portland with her husband Dave, a member of the Oregon Symphony, and their 16 year old daughter, Emily.</p>
    </div>
    <div class="col-md-5 px-5 py-5" data-aos="fade-up" data-aos-duration="2000">
      <img class="img-fluid mx-auto" width="350" height="350" src="/photos/wendy.jpg" role="img" focusable="false">
    </div>
    <div class="col-md-7" data-aos="fade-up" data-aos-duration="2000">
      <h2 class="fw-normal lh-1">Jeff Wood</h2>
      <p class="lead text-body-secondary">Jeff Wood joined the music team at Lake Grove Presbyterian Church in September 2013, where he serves as Organist and Music Associate. Since moving to the Northwest, he has been a featured soloist and choral accompanist at various venues around the Portland area, in addition to performances with the Oregon Symphony on organ, harpsichord, and piano. He holds performance degrees from the College of the Holy Cross and Oberlin Conservatory. Jeff lives in Tigard with his wife, Jessica, and daughter, Josephine.</p>
    </div>
    <div class="col-md-5 px-5" data-aos="fade-up" data-aos-duration="2000">
      <img class="img-fluid mx-auto" width="350" height="350" src="/photos/jeff.jpg" role="img" focusable="false">
    </div>
  </div>
  </div>


</div>

