<% layout('layouts/boilerplate') %>


<!-- THIS IS ACTUALLY IDEAS FOR A NEW ABOUT PAGE -->
 <!-- CAROUSEL AT TOP BUT WILL NEED TO PICK AND SIZE IMAGES -->

 <div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/photos/conductor.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/photos/stage.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/photos/audience.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!-- THIS IS THE OLD ABOUT PAGE FOR REFERENCE -->
 
  <!-- <div class=" text-center p-4 bg-secondary">
    <h1 class="fw-light">About Lake Grove Concert Series</h1>
    <h5>We are a community-based, family-friendly series open to all that provides a peaceful and easily accessible concert experience in the heart of Lake Oswego!</h5>
  </div>
        
  <div class="container">

    <div class="row py-3">
      <div class="col-md-7">
        <h5 class=" text-body-secondary">The Lake Grove Concert Series is Lake Oswego’s regional hub for world-class music, presenting the area’s finest talent performing uplifting music in a beautiful and welcoming space.</h5>
      </div>
      <div class="col-md-5">
        <img class="img-fluid mx-auto" width="500" height="500" src="/photos/conductor.png" role="img" aria-label="music" focusable="false">
      </div>
    </div>
    
    <hr>

    <div class="row py-3">
      <div class="col-md-7 order-md-2">
        <p class="lead text-body-secondary">LGCS concerts are free and easy to attend given their single hour length, and ample on-site parking. Based at the Lake Grove Presbyterian Church, a stunning location that features a grand yet warm wooden structure filled with multi-colored and modern stained glass art, the main hall hits an acoustic sweet spot and feels simultaneously majestic and intimate.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-fluid mx-auto" width="500" height="500" src="photos/audience.png" role="img" aria-label="robes" focusable="false">
      </div>
    </div>

    <hr>

    <div class="row py-3">
      <div class="col-md-7">
        <p class="lead text-body-secondary">With close connections to members of the Oregon Symphony, the series' Directors program a wide cross-section of cohesive and thematic programs. Performers offer engaging context for the selections and mingle with attendees during post-performance receptions..</p>
      </div>
      <div class="col-md-5">
        <img class="img-fluid mx-auto" width="500" height="500" src="photos/Illuminare3.png" role="img" aria-label="conductor" >
      </div>
    </div>

    <hr>

    <div class="row py-3">
      <div class="col-md-7 order-md-2">
        <p class="lead text-body-secondary">Musicians based at the church founded the series in order to open the building’s doors to the entire community, sharing both the awe-inspiring space and the rich cadre of musical talent to which they are connected. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="img-fluid mx-auto" width="500" height="500" src="photos/choir and window.png" role="img" aria-label="seating" focusable="false">

      </div>
    </div>
  </div> 
  </div>
</div>

   -->
