<% layout('layouts/boilerplate') %>

<div class="container vh-100">
  <h1>ARCHIVE</h1>
</div>


<!-- 
  Illuminare: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/950538891?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Illuminare"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

Tapestry: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/807276463?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Tapestry Concert"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

Bells & Brass: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/885478185?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Bells and Brass Concert 2023"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

Fanfares & Elegies: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/858028126?badge=0&autopause=0&player_id=0&app_id=58479/embed" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div> -->


