<% layout('layouts/boilerplate') %>

  <section id="contact" class="bg-light py-5">
    <div class="container">
      <div class="text-center py-5 text-dark">
        <h2 class="fw-bolder text-uppercase">Contact Us</h2>
        <p>Fill out the form below to sign up for our email newsletter or just let us know what you liked about your concert experience!</p>
      </div>
      <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7 col-xxl-6 mx-auto">
        <form action="" class="text-dark">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea name="message" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
        </form>
      </div>
    </div>
  </section>

