<% layout('layouts/boilerplate') %>

<div class="min-vh-100">

  <div class="p-5 p-md-5 mb-5 rounded text-black bg-primary section-shape-right ">
    <div class="container text-center col-lg-6 px-0">
      <h1 class="display-4">Support our Concert Series</h1>
  
    </div>
  </div>

  <section class="pb-5 px-2 text-center text-light">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto px-5">
        <p class="lead text-dark">Lake Grove Concert Series is committed to bringing FREE, high-quality music to the Greater Portland community. When we do 'pass the plate' at our concerts, it is usually to support Lake Grove's local and global partners - helping to do things like build school buildings in Senagal, drill wells in Zambia, or support local families in need.</p>
        <div class="py-5 d-flex d-flex-between" data-aos="fade-up" data-aos-duration="2000">
          <img class="img-fluid mx-auto" src="https://placehold.co/200" role="img" focusable="false">
          <img class="img-fluid mx-auto" src="https://placehold.co/200" role="img" focusable="false">
        </div>
        <p class="lead text-dark" data-aos="fade-up" data-aos-duration="2000">You can help us keep this tradition going with a donation to offset the costs of bringing this caliber of music to Lake Oswego. Just click on the give now button and you'll be directed to Lake Grove's giving page.</p>
        <div class="py-5 d-flex d-flex-between" data-aos="fade-up" data-aos-duration="2000">
          <img class="img-fluid mx-auto" src="https://placehold.co/400" role="img" focusable="false">
        </div>
        <p class="lead text-dark" data-aos="fade-up" data-aos-duration="2000">Just be sure to select "Concert Series" from the dropdown menu, and THANK YOU for your generous support!</p>
        <p data-aos="fade-up" data-aos-duration="2000">
          <a href="https://onrealm.org/LakeGrovePresby/-/form/give/now" target="_blank" class="btn btn-secondary btn-lg my-2">GIVE NOW</a>
        </p>
      </div>
    </div>
  </section>
</div>

