<% layout('layouts/boilerplate') %>

<div class="vh-100">
  <section class="py-5 px-2 text-center bg-primary text-light">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Donate</h1>
        <p class="lead text-body-secondary">A page inviting people to give to our concert series and help keep them free and open to all.</p>
        <p>
          <a href="#" class="btn btn-secondary my-2">Link to giving page?</a>
        </p>
      </div>
    </div>
  </section>
</div>