<% layout('layouts/boilerplate') %>

<div>
  <img class="img-fluid" src="/photos/stage.png" alt="">
</div>
<div class="bg-dark text-light text-center p-5">
  <h1 class="fw-bold">Uplifting Music in a Beautiful Space</h1>
</div>



<!-- 
  <div class="container">
    <h1 class="text-center fw-bold">HOME PAGE</h1>
    <p>This is my fancy page....it has a</p>
    <button class="btn btn-primary">Button</button>
    <p>and a</p>
    <form action="">
      <div class="form-group border p-4">
        <h3>form</h3>
        <input type="text" class="form-control">
        <label for="">input text</label>
        <button class="btn btn-danger">submit</button>
      </div>
    </form>
    <h2 class="text-center mt-5">Colors</h2>
    <div class="container">
      <div class="bg-primary text-center fw-bolder p-2">Primary</div>
      <div class="bg-secondary text-center fw-bolder p-2">Secondary</div>
      <div class="bg-light text-center fw-bolder p-2">Light</div>
      <div class="bg-dark text-center text-light fw-bolder p-2">Dark</div>
      <div class="bg-danger text-center fw-bolder p-2">Danger</div>
    </div>
  </div> -->
  