<% layout('./layouts/boilerplate') %>

<div class="bg-primary min-vh-100">
<section>
  <div class="card border-0">
    <img class="img-fluid" src="/photos/stage.png" alt="a choir and orchestra on stage with organ pipes in the background">
    <div class="card-img-overlay m-lg-5 p-lg-5">
      <h1 class="card-title text-light fw-bolder">Uplifting Music</h1>
      <h1 class="card-title text-light fw-bolder">in a</h1>
      <h1 class="card-title text-light fw-bolder">Beautiful Space</h1>
  </div>

</section>

<img src="/photos/letterhead.png" width="100%" alt="">

<section class="pt-5 px-2 text-center bg-dark text-light" data-aos="fade-up" data-aos-duration="2000">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">2024-2025 Season</h1>
      <p class="lead text-light">We are excited to present the 10th Season of the Lake Grove Concert Series and can't wait to share this exciting music with you!</p>
      <p>
        <a href="/concerts/upcoming" class="btn btn-secondary btn-lg my-2">Learn More </a>
      </p>
    </div>
  </div>
</section>

<div class="p-5 p-md-5 mb-0 mt-5 rounded text-body-emphasis bg-primary" data-aos="fade-up" data-aos-duration="2000">
  <div class="p-5 text-center">
    <h3 class="display-6 fst-italic">"Under the direction of Wendy Bamonte since 1999, the choir has gained a reputation for presenting outstanding music in many styles… and has developed a heart for mission.”</h3>
    <p class="lead my-3">- The Lake Oswego Review</p>
  </div>
</div>




</div>

  