<% layout('./layouts/boilerplate') %>

<div>
  <img class="img-fluid" src="/photos/stage.png" alt="">
</div>

<div class="bg-dark text-light text-center p-5">
  <h1 class="fw-bold">Uplifting Music in a Beautiful Space</h1>
</div>

<section class="py-5 px-2 text-center bg-primary text-light">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">2024-2025 Season</h1>
      <p class="lead text-body-secondary">We are excited to kick off our 10th Season of the Lake Grove Concert Series and can't wait to share this exciting music with you!</p>
      <p>
        <a href="/concerts/upcoming" class="btn btn-secondary my-2">Learn More </a>
      </p>
    </div>
  </div>
</section>



<!-- LG Brand Colors.....
  <div class="container">
    <h2 class="text-center mt-5">Colors</h2>
    <div class="container">
      <div class="bg-primary text-center fw-bolder p-2">Primary</div>
      <div class="bg-secondary text-center fw-bolder p-2">Secondary</div>
      <div class="bg-light text-center fw-bolder p-2">Light</div>
      <div class="bg-dark text-center text-light fw-bolder p-2">Dark</div>
      <div class="bg-danger text-center fw-bolder p-2">Danger</div>
    </div>
  </div> -->
  