<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <script src="bootstrap.bundle.min.js" defer></script>
  <title>Lake Grove Concert Series</title>
</head>
<body>
  <%- include('partials/navbar')  %>
  <div class="container ">
    <h1>HOME PAGE</h1>
    <p>This is my fancy page....it has a</p>
    <button class="btn btn-primary">Button</button>
    <p>and a</p>
    <form action="">
      <div class="form-group">
        <h3>form</h3>
        <input type="text" class="form-control">
        <label for="">input text</label>
        <button class="btn btn-danger">submit</button>
      </div>
    
    </form>
  </div>
  
</body>
</html>