<% layout('layouts/boilerplate') %>

<div>
  
  <section class="py-5 text-center bg-primary text-light">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">2024-2025 Season</h1>
        <p class="lead text-body-secondary">This season marks our 10th anniversary of the Lake Grove Concert Series, and we are celebrating by bringing back some crowd favorites from previous years. Mark your calendars and plan to join us for these fun, family-friendly programs!</p>
        <p>
          <a href="#" class="btn btn-secondary my-2">Live Stream Link?</a>
        </p>
      </div>
    </div>
  </section>
  

  <div class="container mt-5">
    
    <div class="row py-3">
    <div class="col-md-7">
      <h2>Bells and Whistles: An Organ Concert for All Ages</h2>
      <h4>Sunday, October 6, 1:00PM</h4>
      <p class="lead text-body-secondary">Discover the mysteries of Lake Grove’s majestic pipe organ in this family-friendly concert featuring organist, Jeff Wood. Come early for a literal ‘behind-the-scenes’ look at the organ chamber, and experience first-hand the wide range of musical possibilities this instrument offers.!</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid mx-auto" width="500" height="500" src="/photos/jeff_organ.png" role="img" aria-label="music" focusable="false">
    </div>
  </div>

  <hr>

  <div class="row py-3">
    <div class="col-md-7 order-md-2">
      <h2>Bells and Brass</h2>
      <h4>Saturday, December 22, 5:30PM</h4>
      <h4>Saturday, December 22, 7:30PM</h4>
      <p class="lead text-body-secondary">Celebrate the season with holy carols and festive favorites at our annual Bells and Brass concerts, featuring the Covenant Bells and members of the Oregon Symphony. This year we will present the concert two times to spread even more Christmas cheer!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid mx-auto" width="500" height="500" src="photos/Bells.png" role="img" aria-label="robes" focusable="false">
    </div>
  </div>

  <hr>

  <div class="row py-3">
    <div class="col-md-7">
      <h2>Tapestry</h2>
      <h4>Sunday, February 23, 1:00PM</h4>
      <p class="lead text-body-secondary">Back again this season, experience another exciting concert by the dynamic duo of Abigail Krawson and LaRiche Lamar. Their inventive programs feature extraordinary mash-ups, eclectic song styles, and a friendship that leaves everyone smiling (and dancing!) all the way down the aisle.</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid mx-auto" width="500" height="500" src="photos/tapestry2.png" role="img" aria-label="conductor" >
    </div>
  </div>

  <hr>

  <div class="row py-3">
    <div class="col-md-7 order-md-2">
      <h2>Requiem For The Living</h2>
      <h4>Saturday, May 31, 2:00PM</h4>
      <h4>Sunday, June 1, 7:00PM</h4>
      <p class="lead text-body-secondary">To close the season, fill your hearts with uplifting melodies of Dan Forrest’s glorious Requiem for the Living. You will not want to miss the Sanctuary Choir and members of the Oregon Symphony teaming up to present this monumental work!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid mx-auto" width="500" height="500" src="photos/Illuminare3.png" role="img" aria-label="seating" focusable="false">

    </div>
  </div>


</div>
