<% layout('layouts/boilerplate') %>

<div class="vh-100">
  <section class="py-5 px-2 text-center bg-primary text-light">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sing With Us!</h1>
        <p class="lead text-body-secondary">This page will have more info about the Sanctuary Choir, and invite people to audition and join us.</p>
        <p>
          <a href="#" class="btn btn-secondary my-2">Sign Up Form?</a>
        </p>
      </div>
    </div>
  </section>
</div>