<% layout('layouts/boilerplate') %>

<div class="min-vh-100">

  <div class="p-5 p-md-5 mb-5 rounded text-black bg-primary section-shape-right ">
    <div class="container text-center col-lg-6 px-0">
      <h1 class="display-4">Sing With Us!</h1>
  
    </div>
  </div>

  <section class="pb-5 px-2 text-center text-light">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto px-5">
        <p class="lead text-dark">The Sanctuary Choir is an all-volunteer group under the direction of Wendy Bamonte and we sing everything from Bach to gospel. We serve the Lake Grove congregation by leading in worship, proclaiming the glory of God, and through our music help to magnify the message each Sunday. We rehearse in the sanctuary every Thursday from 7:00 to 9:00 PM, from September through June. During rehearsals, we develop musical skills, participate in Christian fellowship, and “make a joyful noise”.</p>
        <div class="py-5 d-flex d-flex-between" data-aos="fade-up" data-aos-duration="2000">
          <img class="img-fluid mx-auto" width="800" height="800" src="/photos/choir-img2.jpeg" role="img" focusable="false" alt="a wide view of the sanctuary choir in blue robes with organ pipes in the background">
        </div>
        <p class="lead text-dark" data-aos="fade-up" data-aos-duration="2000">Driven by her passion for community connection, Choir Director Wendy Bamonte has grown the choir to over 100 members, with her skill and energy attracting much talent. Wendy has leveraged benefit concerts to build water wells and schools in Africa, fund child-friendly spaces in Haiti, and support local partners like Portland Rescue Mission, Shepherd’s Door, and the Lake Oswego School District. She has led the choir on several international tours, presenting concerts in Italy, France, Belgium, Ireland, and in rural villages in Zambia where she recorded Zambian music and brought it back to share. <br><br> 
          If you would like to join our ranks, we would love to have you! There is a sign up form below and a brief audition prior to your first rehearsal. If you can sing happy birthday and have a passion for singing, we have a seat for you in the choir loft!</p>
        <div class="py-5 d-flex d-flex-between" data-aos="fade-up" data-aos-duration="2000">
          <img class="img-fluid mx-auto" width="500" height="500" src="/photos/choir-img.jpg" role="img" focusable="false" alt="a close up view of several choir members singing with joyful faces">
        </div>
        <p class="lead text-dark" data-aos="fade-up" data-aos-duration="2000">Sign up here and we will be in touch with more info.</p>
        <p data-aos="fade-up" data-aos-duration="2000" class="mb-5 pb-5">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeNUoLbuKRH-JneUM-nruPFiV6zaJLcn1o80c3CR872C5JcOA/viewform" target="_blank" class="btn btn-secondary btn-lg mt-2 mb-4">SIGN UP</a>
        </p>
      </div>
    </div>
  </section>
</div>