<% layout('layouts/boilerplate') %>

<div>
  
  <section class="py-5 px-2 text-center bg-primary text-light">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">2024-2025 Season</h1>
        <p class="lead text-body-secondary">This season marks our 10th anniversary of the Lake Grove Concert Series, and we are celebrating by bringing back some crowd favorites from previous years. Mark your calendars and plan to join us for these fun, family-friendly programs!</p>
        <p>
          <a href="#" class="btn btn-secondary my-2">WATCH LIVE</a>
        </p>
      </div>
    </div>
  </section>
  

  <div class="container mt-5">
    
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2 gx-3">   

        <div class="col">
          <div class="card mb-3 p-2 bg-secondary vh-100">
            <img src="/photos/jeff_organ.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Bells and Whistles: An Organ Concert for All Ages</h3>
              <h4 class="card-title">Sunday, October 6, 1:00PM</h4>
              <p class="card-text lead text-body-secondary">Discover the mysteries of Lake Grove’s majestic pipe organ in this family-friendly concert featuring organist, Jeff Wood. Come early for a literal ‘behind-the-scenes’ look at the organ chamber, and experience first-hand the wide range of musical possibilities this instrument offers!</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3 p-2 bg-secondary vh-100">
            <img src="/photos/Bells.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Bells and Brass</h2>
              <h4 class="card-title">Saturday, December 22, 5:30PM</h4>
              <h4 class="card-title">Saturday, December 22, 7:30PM</h4>
              <p class="card-text lead text-body-secondary">Tap into the magic of the season with holiday carols and festive favorites at our Bells and Brass concert, featuring the Covenant Bells and members of the Oregon Symphony. Due to popular demand we'll present the concert twice this year, spreading even more Christmas cheer!</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3 p-2 bg-secondary vh-100">
            <img src="/photos/tapestry2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Tapestry</h3>
              <h4 class="card-title">Sunday, February 23, 1:00PM</h4>
              <p class="card-text lead text-body-secondary"> Uplift your heart through music with the return of renowned vocalists Abigail Krawson and LaRiche Lamar. This classically trained and pop-inspired duo celebrates friendship and empowerment through a vibrant collection of eclectic music that seamlessly transcends genres and backgrounds.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3 p-2 bg-secondary vh-100">
            <img src="/photos/Illuminare3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Requiem for the Living</h3>
              <h4 class="card-title">Saturday, May 31, 2:00PM</h4>
              <h4 class="card-title">Sunday, June 1, 7:00PM</h4>
              
              <p class="card-text lead text-body-secondary">Celebrate LIFE with the “powerful, moving… majestic…[and] beautiful music” (New York Concert Review) of of Dan Forrest’s  <i>Requiem for the Living</i>. The Sanctuary Choir and members of the Oregon Symphony team up to present this monumental work in honor of the 10th anniversary of the Lake Grove Concert Series.!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>