<% layout('layouts/boilerplate') %>

<div>
  
  <section class="py-5 px-2 text-center bg-primary text-light section-shape-right">
    <div class="row py-lg-3 px-2">
      <div class="col-md-8 px-5 pb-5 mx-auto">
        <h1 class="fw-light">2025-2026 Season</h1>
        <p class="lead text-dark">Lake Grove Concert Series proudly presents its 11th season with audience favorites that highlight its signature programming: easily accessible, uplifting music, and featuring the region's finest musicians performing in a beautiful space. Comprised of free, single-hour, family-friendly concerts, the Lake Grove Concert Series inspires and connects the community through music. With ten years of excellence in musicianship, generosity through giving campaigns, and community enrichment, the Lake Grove Concert Series honors its legacy and future growth within the cultural landscape of Greater Portland.</p>
      </div>
    </div>
  </section>

<!-- USE THIS FOR UPCOMING STUFF NO VIDEO -->
  <%- include('../views/partials/upcoming')  %>


<!-- USE THIS TO ADD VIDEO AFTER EACH PERFORMANCE -->
<!-- <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Requiem for the Living</h2>
        <h4>Saturday, May 31, 2:00PM</h4>
        <h4>Sunday, June 1, 7:00PM</h4>
        <p class="lead text-body-secondary">Celebrate LIFE with the “powerful, moving… majestic…[and] beautiful music” (New York Concert Review) of Dan Forrest’s  <i>Requiem for the Living</i>. The Sanctuary Choir and members of the Oregon Symphony team up to present this monumental work in honor of the 10th anniversary of the Lake Grove Concert Series!</p>
        <p><i>Presented in part thanks to a generous grant from the Clackamas County Cultural Coalition.</i></p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Xf4OPVCnhz0?si=h8cNNjnaFnOstPtK"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> -->

  <section class="pb-5 px-2 mt-5 pt-5 text-center text-dark bg-secondary section-shape-left">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto px-5">
        <h1 class="fw-light">Watch Live</h1>
        <p class="lead text-dark">Can't make it to one of our programs in person? All of our concerts are live streamed over on the Lake Grove website. When it's performance time, just click this link to the church home page, and look for the "watch livestream" banner</p>
        
        <p>
          <a href="https://www.lakegrovepres.org" target="_blank" class="btn btn-primary btn-lg my-2">LIVE STREAM</a>
        </p>
      </div>
    </div>
  </section>
