<% layout('layouts/boilerplate') %>

<div>
  
  <section class="py-5 px-2 text-center bg-primary text-light section-shape-right">
    <div class="row py-lg-3 px-2">
      <div class="col-md-8 px-5 pb-5 mx-auto">
        <h1 class="fw-light">2024-2025 Season</h1>
        <p class="lead text-dark">The Lake Grove Concert Series proudly celebrates its tenth anniversary with audience favorites that highlight its signature programming: easily accessible, uplifting music, and featuring the region's finest musicians performing in a beautiful space. Comprised of free, single-hour, family-friendly concerts, the Lake Grove Concert Series inspires and connects the community through music. With ten years of excellence in musicianship, generosity through giving campaigns, and community enrichment, the Lake Grove Concert Series honors its legacy and future growth within the cultural landscape of Greater Portland.</p>
      </div>
    </div>
  </section>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Tapestry</h2>
        <h4>Sunday, February 23, 1:00PM</h4>
        <p class="lead text-body-secondary">Uplift your heart through music with the return of renowned vocalists Abigail Krawson and LaRiche Lamar. This classically trained and pop-inspired duo celebrates friendship and empowerment through a vibrant collection of eclectic music that seamlessly transcends genres and backgrounds.</p>
      </div>
      <div class="col-md-5">
          <img class="img-fluid mx-auto" width="500" height="500" src="/photos/tapestry2.png" role="img" focusable="false" alt="Abby Krawson and LaRiche Lamarr dancing joyfully down the church aisle">
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Requiem for the Living</h2>
        <h4>Saturday, May 31, 2:00PM</h4>
        <h4>Sunday, June 1, 7:00PM</h4>
        <p class="lead text-body-secondary">Celebrate LIFE with the “powerful, moving… majestic…[and] beautiful music” (New York Concert Review) of Dan Forrest’s  <i>Requiem for the Living</i>. The Sanctuary Choir and members of the Oregon Symphony team up to present this monumental work in honor of the 10th anniversary of the Lake Grove Concert Series.!</p>
      </div>
      <div class="col-md-5">
          <img class="img-fluid mx-auto" width="500" height="500" src="/photos/Illuminare3.png" role="img" focusable="false" alt="members of the sanctuary choir dressed in black and singing with several string instruments in the foreground">
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Bells and Whistles: An Organ Concert for All Ages</h2>
        <h4>Sunday, October 6, 1:00PM</h4>
        <p class="lead text-body-secondary">Discover the mysteries of Lake Grove’s majestic pipe organ in this family-friendly concert featuring organist, Jeff Wood. Come early for a literal ‘behind-the-scenes’ look at the organ chamber, and experience first-hand the wide range of musical possibilities this instrument offers!</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cMFyyuKwZ9M?si=k04acN48deB7Tsrx"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Bells and Brass</h2>
        <h4>Sunday, December 22, 5:30PM</h4>
        <h4>Sunday, December 22, 7:30PM</h4>
        <p class="lead text-body-secondary">Tap into the magic of the season with holiday carols and festive favorites at our Bells and Brass concert, featuring the Covenant Bells and members of the Oregon Symphony. Due to popular demand we'll present the concert twice this year, spreading even more Christmas cheer!</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0J3l4SiAvvM?si=n8RbPIM-AjRLFjsy"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <section class="pb-5 px-2 mt-5 pt-5 text-center text-dark bg-secondary section-shape-left">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto px-5">
        <h1 class="fw-light">Watch Live</h1>
        <p class="lead text-dark">Can't make it to one of our programs in person? All of our concerts are live streamed over on the Lake Grove website. When it's performance time, just click this link to the church home page, and look for the "watch livestream" banner</p>
        
        <p>
          <a href="https://www.lakegrovepres.org" target="_blank" class="btn btn-primary btn-lg my-2">LIVE STREAM</a>
        </p>
      </div>
    </div>
  </section>
