<% layout('layouts/boilerplate') %>

<div>

  <section class="py-5 px-2 text-center bg-primary text-light section-shape-right">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Past Concerts</h1>
        <h5 class="lead text-dark">Missed a performance or want to see it again? This is the place!</h5>
      </div>
    </div>
  </section>

  <div class="container p-5">
    <div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Illuminare</h2>
        <h4>June 1, 2024</h4>
        <p class="lead text-body-secondary">Lake Grove’s Sanctuary Choir’s spring concert featured Illuminare, a beautiful new piece by Elaine Hagenberg, one of the choir’s favorite composers. The choir was accompanied by members of the Oregon Symphony. </p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/950538891?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Tapestry Concert"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Tapestry</h2>
        <h4>March 12, 2024</h4>
        <p class="lead text-body-secondary">Back by popular demand–a new collection of imaginative interweavings of music spanning the centuries and styles.</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/807276463?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Tapestry Concert"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Bells and Brass</h2>
        <h4>December 17, 2023</h4>
        <p class="lead text-body-secondary">The Covenant Bell Choir and brass from the Oregon Symphony filled our Sanctuary with the joyous sounds of the season. </p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/885478185?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Tapestry Concert"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Fanfares and Elegies</h2>
        <h4>October 8, 2023</h4>
        <p class="lead text-body-secondary">Lake Grove’s own organist, Jeff Wood is joined by members of the Oregon Symphony for an exciting program of music for organ and other instruments.</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe src="https://player.vimeo.com/video/858028126?badge=0&autopause=0&player_id=0&app_id=58479/embed" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Tapestry Concert"></iframe>
        </div>
      </div>
    </div>
  </div>





 <!-- THIS WAS THE CARDS VERSION -->

<!-- 
  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-lg-2 g-5">   
  
      <div class="col">
        <div class="card mb-3 p-2 bg-secondary">
          <div class="ratio ratio-16x9">
            <iframe src="https://player.vimeo.com/video/950538891?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Illuminare"></iframe>
          </div>
          <div class="card-body">
            <h3 class="card-title">Illuminare</h3>
            <h4 class="card-title">June 1, 2024</h4>
            <p class="card-text lead text-body-secondary">Lake Grove’s Sanctuary Choir’s spring concert featured Illuminare, a beautiful new piece by Elaine Hagenberg, one of the choir’s favorite composers. The choir was accompanied by members of the Oregon Symphony. </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-3 p-2 bg-secondary">
          <div class="ratio ratio-16x9">
            <iframe src="https://player.vimeo.com/video/807276463?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Tapestry Concert"></iframe>
          </div>
          <div class="card-body">
            <h3 class="card-title">Tapestry</h3>
            <h4 class="card-title">March 12, 2024</h4>
            <p class="card-text lead text-body-secondary">Back by popular demand–a new collection of imaginative interweavings of music spanning the centuries and styles.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-3 p-2 bg-secondary vh-100">
          <div class="ratio ratio-16x9">
            <iframe src="https://player.vimeo.com/video/885478185?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Bells and Brass Concert 2023"></iframe>
          </div>
          <div class="card-body">
            <h3 class="card-title">Bells and Brass</h3>
            <h4 class="card-title">December 17, 2023</h4>
            <p class="card-text lead text-body-secondary">The Covenant Bell Choir and brass from the Oregon Symphony filled our Sanctuary with the joyous sounds of the season. </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-3 p-2 bg-secondary vh-100">
          <div class="ratio ratio-16x9">
            <iframe src="https://player.vimeo.com/video/858028126?badge=0&autopause=0&player_id=0&app_id=58479/embed" allow="autoplay; fullscreen; picture-in-picture" frameborder="0"></iframe>
          </div>
          <div class="card-body">
            <h3 class="card-title">Fanfares and Elegies</h3>
            <h4 class="card-title">October 8, 2023</h4>
            <p class="card-text lead text-body-secondary">Lake Grove’s own organist, Jeff Wood is joined by members of the Oregon Symphony for an exciting program of music for organ and other instruments.</p>
          </div>
        </div>
      </div>
    </div>


</div> -->



<!-- These were the embed codes we pulled from Vimeo


  Illuminare: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/950538891?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Illuminare"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

Tapestry: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/807276463?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Tapestry Concert"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

Bells & Brass: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/885478185?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Bells and Brass Concert 2023"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

Fanfares & Elegies: <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/858028126?badge=0&autopause=0&player_id=0&app_id=58479/embed" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div> -->


