<% layout('layouts/boilerplate') %>

<div>

  <section class="py-5 px-2 text-center bg-primary text-light section-shape-right">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Past Concerts</h1>
        <h5 class="lead text-dark">Missed a performance or want to see it again? This is the place!</h5>
      </div>
    </div>
  </section>

  <%- include('../views/partials/past')  %>

