<% layout('layouts/boilerplate') %>

<div>

  <section class="py-5 px-2 text-center bg-primary text-light section-shape-right">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Past Concerts</h1>
        <h5 class="lead text-dark">Missed a performance or want to see it again? This is the place!</h5>
      </div>
    </div>
  </section>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Requiem for the Living</h2>
        <h4>May 31 and June 1, 2025</h4>
        <p class="lead text-body-secondary">The Sanctuary Choir and members of the Oregon Symphony teamed up to present Dan Forrest's Requiem for the Living in honor of the 10th anniversary of the Lake Grove Concert Series! </p>
       <i>Presented in part thanks to a generous grant from the Clackamas County Cultural Coalition</i>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Xf4OPVCnhz0?si=h8cNNjnaFnOstPtK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Tapestry</h2>
        <h4>February 23, 2025</h4>
        <p class="lead text-body-secondary">Hearts were uplifted through music with the return of renowned vocalists Abigail Krawson and LaRiche Lamar. This classically trained and pop-inspired duo celebrated friendship and empowerment through a vibrant collection of eclectic music that seamlessly transcends genres and backgrounds.</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Hj4ViXQ2lNE?si=wzWR1rXtc6XBMNFF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Bells and Brass</h2>
        <h4>December 22, 2024</h4>
        <p class="lead text-body-secondary">Audiences delighted in the magic of the season with holiday carols and festive favorites at our Bells and Brass concerts, featuring the Covenant Bells and members of the Oregon Symphony.</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0J3l4SiAvvM?si=n8RbPIM-AjRLFjsy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Bells and Whistles: An Organ Concert for All Ages</h2>
        <h4>October 6, 2024</h4>
        <p class="lead text-body-secondary">We kicked off our 10th season in this family-friendly concert featuring organist, Jeff Wood. The audience was treated to a 'backstage tour' of Lake Grove's pipe organ, and experienced first-hand the wide range of musical possibilities this instrument offers! </p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cMFyyuKwZ9M?si=k04acN48deB7Tsrx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Illuminare</h2>
        <h4>June 1, 2024</h4>
        <p class="lead text-body-secondary">Lake Grove’s Sanctuary Choir’s spring concert featured Illuminare, a beautiful new piece by Elaine Hagenberg, one of the choir’s favorite composers. The choir was accompanied by members of the Oregon Symphony. </p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7ZrvZjRYKz4?si=LGY1OD0akEClej5q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Tapestry</h2>
        <h4>March 12, 2024</h4>
        <p class="lead text-body-secondary">Back by popular demand–a new collection of imaginative interweavings of music spanning the centuries and styles.</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WXD0QS1sBtQ?si=o2_evChZBk2VJWCl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Bells and Brass</h2>
        <h4>December 17, 2023</h4>
        <p class="lead text-body-secondary">The Covenant Bell Choir and brass from the Oregon Symphony filled our Sanctuary with the joyous sounds of the season. </p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/TmcbY33iML8?si=Vwbv7l0uONOX8C1i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Fanfares and Elegies</h2>
        <h4>October 8, 2023</h4>
        <p class="lead text-body-secondary">Lake Grove’s own organist, Jeff Wood is joined by members of the Oregon Symphony for an exciting program of music for organ and other instruments.</p>
      </div>
      <div class="col-md-5">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/A91Afg4B9Y0?si=mAoiPibg4OgOtiq2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
