// customize color palette and import bootstrap css

$primary: #50A4BF;  
$dark: #332E20;
$light: #FFFFFF;
$secondary: #B9D9EB;
$danger: #B7BF10;

@import "../node_modules/bootstrap/scss/bootstrap";

// link custom font files and set as main font family

@font-face {
  font-family: klinicSlab;
  src: url(/fonts/KlinicSlabMedium.otf);
}

@font-face {
  font-family: klinicSlab;
  font-weight: bold;
  src: url(/fonts/KlinicSlabBold.otf);
}

:root {
  --bs-body-font-family: 'klinicSlab';
}

// .banner {
//   background-image: url('/photos/stage.png');
//   background-size: contain;
//   // background-position: center;
//   background-repeat: no-repeat;
// }
